<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:annotation-config />

	<bean id="assets" class="com.mygdx.assets.Assets" />
	<bean id="atlasUiAssets" class="com.mygdx.assets.AtlasUiAssets" />
	<bean id="constantsAssets" class="com.mygdx.assets.ConstantsAssets"/>
	<bean id="eventAssets" class="com.mygdx.assets.EventAssets"/>
	<bean id="itemAssets" class="com.mygdx.assets.ItemAssets"/>
	<bean id="skillAssets" class="com.mygdx.assets.SkillAssets"/>
	<bean id="textureAssets" class="com.mygdx.assets.TextureAssets"/>
	<bean id="musicAssets" class="com.mygdx.assets.MusicAssets" />
	<bean id="uiComponwentAssets" class="com.mygdx.assets.UiComponentAssets" />
	<bean id="unitAssets" class="com.mygdx.assets.UnitAssets" />
	<bean id="worldMapAssets" class="com.mygdx.assets.WorldMapAssets" />
	<bean id="nodeAssets" class="com.mygdx.assets.NodeAssets" />

	<bean id="currentInfo" class="com.mygdx.currentState.CurrentInfo" />
	<bean id="BagInfo" class="com.mygdx.currentState.BagInfo "	    />
	<bean id="BattleInfo" class="com.mygdx.currentState.BattleInfo  "	     />
	<bean id="EventInfo" class="com.mygdx.currentState.EventInfo " 	     />
	<bean id="FieldInfo" class="com.mygdx.currentState.FieldInfo "	     />
	<bean id="MusicInfo" class="com.mygdx.currentState.MusicInfo "	    />
	<bean id="PartyInfo" class="com.mygdx.currentState.PartyInfo "	     />
	<bean id="PositionInfo" class="com.mygdx.currentState.PositionInfo"    />
	<bean id="RewardInfo" class="com.mygdx.currentState.RewardInfo" 	   />
	<bean id="SoundInfo" class="com.mygdx.currentState.SoundInfo"    />
	<bean id="StorySectionInfo" class="com.mygdx.currentState.StorySectionInfo" />
	<bean id="TimeInfo" class="com.mygdx.currentState.TimeInfo "/>
	
	
	<bean id="listenerFactory" class="com.mygdx.factory.ListenerFactory"/>
	<bean id="screenFactory" class="com.mygdx.factory.ScreenFactory" />
	<bean id="stageFactory" class="com.mygdx.factory.StageFactory" />

	<bean id="animationManager" class="com.mygdx.manager.AnimationManager" />
	<bean id="assetsManager" class="com.mygdx.manager.AssetsManager"/>
	<bean id="battleManager" class="com.mygdx.manager.BattleManager"/>
	<bean id="bagManager" class="com.mygdx.manager.BagManager"/>
	<bean id="cameraManager" class="com.mygdx.manager.CameraManager"/>
	<bean id="encounterManager" class="com.mygdx.manager.EncounterManager"/>
	<bean id="eventManager" class="com.mygdx.manager.EventManager"/>
	<bean id="eventCheckManager" class="com.mygdx.manager.EventCheckManager"/>
	<bean id="fieldManager" class="com.mygdx.manager.FieldManager"/>
	<bean id="loadManager" class="com.mygdx.manager.LoadManager"/>
	<bean id="monsterPickManager" class="com.mygdx.manager.MonsterPickManager"/>
	<bean id="movingManager" class="com.mygdx.manager.MovingManager"/>
	<bean id="musicManager" class="com.mygdx.manager.MusicManager"/>
	<bean id="partyManager" class="com.mygdx.manager.PartyManager"/>
	<bean id="platformResourceManager" class="com.mygdx.manager.PlatformResourceManager" />
	<bean id="positionManager" class="com.mygdx.manager.PositionManager"/>
	<bean id="rewardManager" class="com.mygdx.manager.RewardManager"/>
	<bean id="saveManager" class="com.mygdx.manager.SaveManager" />
	<bean id="storySectionManager" class="com.mygdx.manager.StorySectionManager"/>
	<bean id="textureManager" class="com.mygdx.manager.TextureManager"/>
	<bean id="timeManager" class="com.mygdx.manager.TimeManager"/>
	<bean id="unitManager" class="com.mygdx.manager.UnitManager"/>
	<bean id="volumeManager" class="com.mygdx.manager.VolumeManager" />
	
	<bean id="baseScreen" class="com.mygdx.screen.BaseScreen" scope="prototype"/>
	<bean id="battleScreen" class="com.mygdx.screen.BattleScreen"/>
	<bean id="bgmScreen" class="com.mygdx.screen.BGMScreen" scope="prototype" />
	<bean id="bonusPointScreen" class="com.mygdx.screen.BonusPointScreen"
		scope="prototype" />
	<bean id="buildingScreen" class="com.mygdx.screen.BuildingScreen"
		scope="prototype" />
	<bean id="cgScreen" class="com.mygdx.screen.CGScreen" scope="prototype"/>
	<bean id="collectionScreen" class="com.mygdx.screen.CollectionScreen"/>
	<bean id="creditScreen" class="com.mygdx.screen.CreditScreen"
		scope="prototype" />
	<bean id="dungeonScreen" class="com.mygdx.screen.DungeonScreen"
		scope="prototype" />
	<bean id="dungeonEntranceScreen" class="com.mygdx.screen.DungeonEntranceScreen"
		scope="prototype" />
	<bean id="encounterScreen" class="com.mygdx.screen.EncounterScreen"
		scope="prototype" />
	<bean id="endingScreen" class="com.mygdx.screen.EndingScreen"
		scope="prototype"/>
	<bean id="eventScreen" class="com.mygdx.screen.EventScreen" scope="prototype"/>	
	<bean id="fieldScreen" class="com.mygdx.screen.FieldScreen"
		scope="prototype"/>
	<bean id="forkScreen" class="com.mygdx.screen.ForkScreen" scope="prototype"/>
	<bean id="gameObjectScreen" class="com.mygdx.screen.GameObjectScreen" scope="prototype"/>
	<bean id="greetingScreen" class="com.mygdx.screen.GreetingScreen"
		scope="prototype"/>
	<bean id="inventoryScreen" class="com.mygdx.screen.InventoryScreen" scope="prototype"/>
	<bean id="loadingBarScreen" class="com.mygdx.screen.LoadingBarScreen"/>
	<bean id="loadScreen" class="com.mygdx.screen.LoadScreen" scope="prototype"/>
	<bean id="logScreen" class="com.mygdx.screen.LogScreen" scope="prototype"/>
	<bean id="menuScreen" class="com.mygdx.screen.MenuScreen" scope="prototype"/>
	<bean id="optionScreen" class="com.mygdx.screen.OptionScreen"
		scope="prototype"/>
	<bean id="saveScreen" class="com.mygdx.screen.SaveScreen" scope="prototype" />
	<bean id="skillScreen" class="com.mygdx.screen.SkillScreen" scope="prototype"/>
	<bean id="statusScreen" class="com.mygdx.screen.StatusScreen"
		scope="prototype" />
	<bean id="villageScreen" class="com.mygdx.screen.VillageScreen"
		scope="prototype" />
	<bean id="worldMapScreen" class="com.mygdx.screen.WorldMapScreen"
		scope="prototype" />
		
	<bean id="baseOneLevelStage" class="com.mygdx.stage.BaseOneLevelStage"
		scope="prototype"/>
	<bean id="baseOverlapStage" class="com.mygdx.stage.BaseOverlapStage"
		scope="prototype"/>
	<bean id="battleStage" class="com.mygdx.stage.BattleStage" scope="prototype">
	</bean>
	<bean id="buildingStage" class="com.mygdx.stage.BuildingStage"
		scope="prototype"/>
	<bean id="characterUiStage" class="com.mygdx.stage.CharacterUiStage"
		scope="prototype"/>
	<bean id="dungeonStage" class="com.mygdx.stage.DungeonStage"
		scope="prototype"/>
	<bean id="dungeonEntranceStage" class="com.mygdx.stage.DungeonEntranceStage"
		scope="prototype" />
	<bean id="encounterStage" class="com.mygdx.stage.EncounterStage"
		scope="prototype"/>
	<bean id="chatEventStage" class="com.mygdx.stage.ChatEventStage" scope="prototype"/>	
	<bean id="fieldStage" class="com.mygdx.stage.FieldStage" scope="prototype"/>
	<bean id="forkStage" class="com.mygdx.stage.ForkStage" scope="prototype"/>
	<bean id="gameObjectStage" class="com.mygdx.stage.GameObjectStage" scope="prototype"/>
	<bean id="gameUiStage" class="com.mygdx.stage.GameUiStage" scope="prototype"/>
	<bean id="inventoryStage" class="com.mygdx.stage.InventoryStage" scope="prototype"/>
	<bean id="menuStage" class="com.mygdx.stage.MenuStage" scope="prototype" />
	<bean id="monsterStage" class="com.mygdx.stage.MonsterStage"
		scope="prototype" />
	<bean id="selectComponentStage" class="com.mygdx.stage.SelectComponentStage"
		scope="prototype"/>
	<bean id="selectEventStage" class="com.mygdx.stage.SelectEventStage"
		scope="prototype"/>
	<bean id="statusStage" class="com.mygdx.stage.StatusStage" scope="prototype" />
	<bean id="skillStage" class="com.mygdx.stage.SkillStage" scope="prototype"/>
	<bean id="villageStage" class="com.mygdx.stage.VillageStage"
		scope="prototype"/>
	<bean id="worldMapStage" class="com.mygdx.stage.WorldMapStage"
		scope="prototype"/>
	
	<bean id="heroAttackStrategy" class="com.mygdx.unitStrategy.HeroAttackStrategy"/>	
	<bean id="inventoryStrategy" class="com.mygdx.unitStrategy.InventoryStrategy"/>
	<bean id="monsterAttackStrategy" class="com.mygdx.unitStrategy.MonsterAttackStrategy"/>	
		
	<bean id="arrowButtonListener" class="com.mygdx.listener.ArrowButtonListener" scope="prototype"/>
	<bean id="attackButtonListener" class="com.mygdx.listener.AttackButtonListener" scope="prototype"/>
	<bean id="backButtonListener" class="com.mygdx.listener.BackButtonListener" scope="prototype"/>
	<bean id="buildingButtonListener" class="com.mygdx.listener.BuildingButtonListener" scope="prototype"/>
	<bean id="gameObjectButtonListener" class="com.mygdx.listener.GameObjectButtonListener" scope="prototype"/>
	<bean id="goBackwardFieldButtonListener" class="com.mygdx.listener.GoBackwardFieldButtonListener" scope="prototype"/>
	<bean id="goForwardFieldButtonListener" class="com.mygdx.listener.GoForwardFieldButtonListener" scope="prototype"/>
	<bean id="jumpSectionListener" class="com.mygdx.listener.JumpSectionListener" scope="prototype"/>
	<bean id="selectComponentListener" class="com.mygdx.listener.SelectComponentListener" scope="prototype" />
	<bean id="selectEventListener" class="com.mygdx.listener.SelectEventListener" scope="prototype"/>
	
	<bean id="gridHitBox" class="com.mygdx.ui.GridHitbox" scope="prototype"/>
	
	<bean id="atlasUiFile" class="com.mygdx.model.jsonModel.AtlasUiFile"/>
	<bean id="musicFile" class="com.mygdx.model.jsonModel.MusicFile"/>
</beans>