<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:annotation-config />
	
	<bean id="assets" class="com.mygdx.state.Assets"/>
	
	<bean id="currentState" class="com.mygdx.currentState.CurrentState">
		<property name="partyInfo" ref="partyInfo"/>
		<property name="inventoryInfo" ref="inventoryInfo"/>
		<property name="positionInfo" ref="positionInfo"/>
		<property name="movingInfo" ref="movingInfo"/>
	</bean>
	<bean id="eventInfo" class="com.mygdx.currentState.EventInfo"/>
	<bean id="inventoryInfo" class="com.mygdx.currentState.InventoryInfo"/>
	<bean id="movingInfo" class="com.mygdx.currentState.MovingInfo"/>
	<bean id="musicInfo" class="com.mygdx.currentState.MusicInfo"/>
	<bean id="partyInfo" class="com.mygdx.currentState.PartyInfo"/>
	<bean id="positionInfo" class="com.mygdx.currentState.PositionInfo"/>
	<bean id="rewardInfo" class="com.mygdx.currentState.RewardInfo"/>
	<bean id="rewardQueueInfo" class="com.mygdx.currentState.RewardQueueInfo"/>
	<bean id="roadInfo" class="com.mygdx.currentState.RoadInfo">
		<property name="assets" ref="assets"/>
	</bean>
	<bean id="timeInfo" class="com.mygdx.currentState.TimeInfo"/>
	
	<bean id="screenFactory" class="com.mygdx.factory.ScreenFactory"/>
	<bean id="stageFactory" class="com.mygdx.factory.StageFactory"/>
	
	<bean id="battleManager" class="com.mygdx.manager.BattleManager">
		<property name="movingInfo" ref="movingInfo"/>
		<property name="partyInfo" ref="partyInfo"/>
	</bean>
	<bean id="encounterManager" class="com.mygdx.manager.EncounterManager">
		<property name="screenFactory" ref="screenFactory"/>
		<property name="monsterManager" ref="monsterManager"/>
	</bean>
	<bean id="eventManager" class="com.mygdx.manager.EventManager">
		<property name="eventInfo" ref="eventInfo"/>
		<property name="rewardManager" ref="rewardManager"/>
	</bean>
	<bean id="loadManager" class="com.mygdx.manager.LoadManager">
		<property name="assets" ref="assets"/>
		<property name="positionInfo" ref="positionInfo"/>
		<property name="movingInfo" ref="movingInfo"/>
		<property name="partyInfo" ref="partyInfo"/>
	</bean>
	<bean id="monsterManager" class="com.mygdx.manager.MonsterManager">
		<property name="assets" ref="assets"/>
		<property name="positionInfo" ref="positionInfo"/>
		<property name="movingInfo" ref="movingInfo"/>
	</bean>
	<bean id="movingInfoManager" class="com.mygdx.manager.MovingInfoManager">
		<property name="assets" ref="assets"/>
		<property name="movingInfo" ref="movingInfo"/>
		<property name="positionInfo" ref="positionInfo"/>
	</bean>
	<bean id="movingManager" class="com.mygdx.manager.MovingManager">
		<property name="assets" ref="assets"/>
		<property name="screenFactory" ref="screenFactory"/>
		<property name="positionInfo" ref="positionInfo"/>
		<property name="movingInfo" ref="movingInfo"/>
		<property name="encounterManager" ref="encounterManager"/>
	</bean>
	<bean id="musicManager" class="com.mygdx.manager.MusicManager">
		<property name="musicInfo" ref="musicInfo"/>
		<property name="assets" ref="assets"/>
		<property name="positionInfo" ref="positionInfo"/>
	</bean>
	<bean id="npcManager" class="com.mygdx.manager.NpcManager">
		<property name="assets" ref="assets"/>
	</bean>
	<bean id="placeManager" class="com.mygdx.manager.PlaceManager">
		<property name="positionInfo" ref="positionInfo"/>
		<property name="screenFactory" ref="screenFactory"/>
	</bean>
	<bean id="platformResourceManager" class="com.mygdx.manager.PlatformResourceManager"/>
	<bean id="rewardManager" class="com.mygdx.manager.RewardManager">
		<property name="assets" ref="assets"/>
		<property name="rewardQueueInfo" ref="rewardQueueInfo"/>
		<property name="eventManager" ref="eventManager"/>
		<property name="partyInfo" ref="partyInfo"/>
	</bean>
	<bean id="saveManager" class="com.mygdx.manager.SaveManager"/>
	<bean id="scenarioManager" class="com.mygdx.manager.ScenarioManager"/>
	<bean id="volumeManager" class="com.mygdx.manager.VolumeManager"/>
	<bean id="worldMapManager" class="com.mygdx.manager.WorldMapManager">
		<property name="movingInfoManager" ref="movingInfoManager"/>
		<property name="positionInfo" ref="positionInfo"/>
		<property name="assets" ref="assets"/>
	</bean>
	
	<bean id="battleScreen" class="com.mygdx.screen.BattleScreen" scope="prototype" >
		<property name="stageFactory" ref="stageFactory"/>
	</bean>
	<bean id="bgmScreen" class="com.mygdx.screen.BGMScreen" scope="prototype" >
		<property name="assets" ref="assets"/>
		<property name="screenFactory" ref="screenFactory"/>
	</bean>
	<bean id="bonusPointScreen" class="com.mygdx.screen.BonusPointScreen" scope="prototype" />
	<bean id="buildingScreen" class="com.mygdx.screen.BuildingScreen" scope="prototype" >
		<property name="stageFactory" ref="stageFactory"/>
	</bean>
	<bean id="cgScreen" class="com.mygdx.screen.CGScreen" scope="prototype" >
		<property name="assets" ref="assets"/>
		<property name="screenFactory" ref="screenFactory"/>
	</bean>
	<bean id="collectionScreen" class="com.mygdx.screen.CollectionScreen" scope="prototype" >
		<property name="assets" ref="assets"/>
		<property name="screenFactory" ref="screenFactory"/>
	</bean>
	<bean id="creditScreen" class="com.mygdx.screen.CreditScreen" scope="prototype" >
		<property name="screenFactory" ref="screenFactory"/>
	</bean>
	<bean id="encounterScreen" class="com.mygdx.screen.EncounterScreen" scope="prototype" >
		<property name="stageFactory" ref="stageFactory"/>
	</bean>
	<bean id="endingScreen" class="com.mygdx.screen.EndingScreen" scope="prototype" >
		<property name="assets" ref="assets"/>
		<property name="screenFactory" ref="screenFactory"/>
	</bean>
	<bean id="eventScreen" class="com.mygdx.screen.EventScreen" scope="prototype" >
		<property name="stageFactory" ref="stageFactory"/>
		<property name="screenFactory" ref="screenFactory"/>
		<property name="eventManager" ref="eventManager"/>
		<property name="rewardManager" ref="rewardManager"/>
		<property name="positionInfo" ref="positionInfo"/>
	</bean>
	<bean id="greetingScreen" class="com.mygdx.screen.GreetingScreen" scope="prototype" > 
		<property name="screenFactory" ref="screenFactory"/>
		<property name="stageFactory" ref="stageFactory"/>
		<property name="eventManager" ref="eventManager"></property>
		<property name="eventInfo" ref="eventInfo"/>
		<property name="positionInfo" ref="positionInfo"></property>
	</bean>
	<bean id="loadScreen" class="com.mygdx.screen.LoadScreen" scope="prototype" >
		<property name="assets" ref="assets"></property>
		<property name="screenFactory" ref="screenFactory"/>
		<property name="currentState" ref="currentState"></property>
		<property name="eventManager" ref="eventManager"></property>
		<property name="loadManager" ref="loadManager"></property>
	</bean>
	<bean id="menuScreen" class="com.mygdx.screen.MenuScreen" scope="prototype" >
		<property name="assets" ref="assets"></property>
		<property name="musicManager" ref="musicManager"></property>
	</bean>
	<bean id="movingScreen" class="com.mygdx.screen.MovingScreen" scope="prototype" >
		<property name="assets" ref="assets"></property>
		<property name="movingInfo" ref="movingInfo"></property>
		<property name="movingManager" ref="movingManager"></property>
		<property name="musicManager" ref="musicManager"></property>
	</bean>
	<bean id="optionScreen" class="com.mygdx.screen.OptionScreen" scope="prototype" >
		<property name="assets" ref="assets"></property>
		<property name="screenFactory" ref="screenFactory"></property>
	</bean>
	<bean id="saveScreen" class="com.mygdx.screen.SaveScreen" scope="prototype" />
	<bean id="statusScreen" class="com.mygdx.screen.StatusScreen" scope="prototype" />
	<bean id="villageScreen" class="com.mygdx.screen.VillageScreen" scope="prototype" >
		<property name="stageFactory" ref="stageFactory"></property>
		<property name="musicManager" ref="musicManager"/>
		<property name="assets" ref="assets"></property>
	</bean>
	<bean id="worldMapScreen" class="com.mygdx.screen.WorldMapScreen" scope="prototype" >
		<property name="stageFactory" ref="stageFactory"></property>
	</bean>
	
	<bean id="battleStage" class="com.mygdx.stage.BattleStage" scope="prototype" >
		<property name="assets" ref="assets"/>
		<property name="screenFactory" ref="screenFactory"></property>
		<property name="movingInfo" ref="movingInfo"></property>
		<property name="partyInfo" ref="partyInfo"></property>
	</bean>
	<bean id="buildingStage" class="com.mygdx.stage.BuildingStage" scope="prototype" >
		<property name="assets" ref="assets"/>
		<property name="positionInfo" ref="positionInfo"></property>
		<property name="npcManager" ref="npcManager"></property>
		<property name="eventManager" ref="eventManager"></property>
		<property name="screenFactory" ref="screenFactory"></property>
		<property name="placeManager" ref="placeManager"></property>
	</bean>
	<bean id="characterUiStage" class="com.mygdx.stage.CharacterUiStage" scope="prototype" >
		<property name="assets" ref="assets"></property>
		<property name="partyInfo" ref="partyInfo"></property>
	</bean>
	<bean id="encounterStage" class="com.mygdx.stage.EncounterStage" scope="prototype" >
		<property name="assets" ref="assets"></property>
		<property name="screenFactory" ref="screenFactory"></property>
	</bean>
	<bean id="eventStage" class="com.mygdx.stage.EventStage" scope="prototype" >
		<property name="assets" ref="assets"></property>
		<property name="eventManager" ref="eventManager"></property>
		<property name="eventInfo" ref="eventInfo"></property>
		<property name="screenFactory" ref="screenFactory"></property>
	</bean>
	<bean id="gameUiStage" class="com.mygdx.stage.GameUiStage" scope="prototype" >
		<property name="assets" ref="assets"></property>
		<property name="screenFactory" ref="screenFactory"></property>
		<property name="partyInfo" ref="partyInfo"></property>
		<property name="rewardManager" ref="rewardManager"></property>
	</bean>
	<bean id="menuStage" class="com.mygdx.stage.MenuStage" scope="prototype" >
		<property name="assets" ref="assets"></property>
		<property name="screenFactory" ref="screenFactory"></property>
	</bean>
	<bean id="monsterStage" class="com.mygdx.stage.MonsterStage" scope="prototype" >
		<property name="movingInfo" ref="movingInfo"></property>
	</bean>
	<bean id="selectButtonStage" class="com.mygdx.stage.SelectButtonStage" scope="prototype" >
		<property name="assets" ref="assets"></property>
		<property name="screenFactory" ref="screenFactory"></property>
		<property name="eventManager" ref="eventManager"></property>
		<propery name="eventInfo" ref="eventInfo"></propery>
		<property name="placeManager" ref="placeManager"></property>
	</bean>
	<bean id="statusStage" class="com.mygdx.stage.StatusStage" scope="prototype" >
		<property name="assets" ref="assets"></property>
	</bean>
	<bean id="villageStage" class="com.mygdx.stage.VillageStage" scope="prototype" >
		<property name="assets" ref="assets"></property>
		<property name="screenFactory" ref="screenFactory"></property>
		<property name="eventManager" ref="eventManager"></property>
		<property name="positionInfo" ref="positionInfo"></property>
	</bean>
	<bean id="worldMapStage" class="com.mygdx.stage.WorldMapStage" scope="prototype" >
		<property name="assets" ref="assets"></property>
		<property name="worldMapManager" ref="worldMapManager"></property>
		<property name="screenFactory" ref="screenFactory"></property>
		<property name="positionInfo" ref="positionInfo"></property>
	</bean>
</beans>