<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:annotation-config/>

	<bean id="assets" class="com.mygdx.state.Assets"/>

	<bean id="currentState" class="com.mygdx.currentState.CurrentState">
		<property name="partyInfo" ref="partyInfo"/>
		<property name="inventoryInfo" ref="inventoryInfo"/>
		<property name="positionInfo" ref="positionInfo"/>
		<property name="movingInfo" ref="movingInfo"/>
		<property name="timeInfo" ref="timeInfo"/>
		<property name="eventInfo" ref="eventInfo"/>
		<property name="rewardInfo" ref="rewardInfo"/>
		<property name="storySectionInfo" ref="storySectionInfo"/>
		<property name="musicInfo" ref="musicInfo"/>
	</bean>

	<bean id="eventInfo" class="com.mygdx.currentState.EventInfo"/>
	<bean id="inventoryInfo" class="com.mygdx.currentState.InventoryInfo"/>
	<bean id="movingInfo" class="com.mygdx.currentState.MovingInfo"/>
	<bean id="musicInfo" class="com.mygdx.currentState.MusicInfo"/>
	<bean id="partyInfo" class="com.mygdx.currentState.PartyInfo"/>
	<bean id="positionInfo" class="com.mygdx.currentState.PositionInfo"/>
	<bean id="rewardInfo" class="com.mygdx.currentState.RewardInfo"/>
	<bean id="roadInfo" class="com.mygdx.currentState.RoadInfo">
		<property name="assets" ref="assets"/>
	</bean>
	<bean id="storySectionInfo" class="com.mygdx.currentState.StorySectionInfo"/>
	<bean id="timeInfo" class="com.mygdx.currentState.TimeInfo"/>

	<bean id="screenFactory" class="com.mygdx.factory.ScreenFactory"/>
	<bean id="stageFactory" class="com.mygdx.factory.StageFactory"/>


	<bean id="battleManager" class="com.mygdx.manager.BattleManager">
		<property name="movingInfo" ref="movingInfo"/>
		<property name="partyInfo" ref="partyInfo"/>
	</bean>
	<bean id="cameraManager" class="com.mygdx.manager.CameraManager">
	</bean>
	<bean id="encounterManager" class="com.mygdx.manager.EncounterManager">
		<property name="screenFactory" ref="screenFactory"/>
		<property name="monsterManager" ref="monsterManager"/>
	</bean>
	<bean id="eventManager" class="com.mygdx.manager.EventManager">
		<property name="assets" ref="assets"/>
		<property name="eventInfo" ref="eventInfo"/>
		<property name="rewardManager" ref="rewardManager"/>
		<property name="stageFactory" ref="stageFactory"/>
		
	</bean>
	<bean id="eventQueueManager"  class="com.mygdx.manager.EventQueueManager">
		<property name="eventInfo" ref="eventInfo"/>
		<property name="eventManager" ref="eventManager"/>
		<property name="screenFactory" ref="screenFactory"/>
		<property name="positionInfo" ref="positionInfo"/>
	</bean>
	<bean id="loadManager" class="com.mygdx.manager.LoadManager">
		<property name="assets" ref="assets"/>
		<property name="positionInfo" ref="positionInfo"/>
		<property name="movingInfo" ref="movingInfo"/>
		<property name="partyInfo" ref="partyInfo"/>
		<property name="storySectionManager" ref="storySectionManager"></property>
	</bean>
	<bean id="monsterManager" class="com.mygdx.manager.MonsterManager">
		<property name="assets" ref="assets"/>
		<property name="positionInfo" ref="positionInfo"/>
		<property name="movingInfo" ref="movingInfo"/>
	</bean>
	<bean id="movingInfoManager" class="com.mygdx.manager.MovingInfoManager">
		<property name="assets" ref="assets"/>
		<property name="movingInfo" ref="movingInfo"/>
		<property name="positionInfo" ref="positionInfo"/>
	</bean>
	<bean id="movingManager" class="com.mygdx.manager.MovingManager">
		<property name="assets" ref="assets"/>
		<property name="screenFactory" ref="screenFactory"/>
		<property name="positionInfo" ref="positionInfo"/>
		<property name="movingInfo" ref="movingInfo"/>
		<property name="encounterManager" ref="encounterManager"/>
	</bean>
	<bean id="musicManager" class="com.mygdx.manager.MusicManager">
		<property name="musicInfo" ref="musicInfo"/>
		<property name="assets" ref="assets"/>
		<property name="positionInfo" ref="positionInfo"/>
		<property name="movingInfo" ref="movingInfo"/>
	</bean>
	<bean id="npcManager" class="com.mygdx.manager.NpcManager">
		<property name="assets" ref="assets"/>
	</bean>
	<bean id="placeManager" class="com.mygdx.manager.PlaceManager">
		<property name="positionInfo" ref="positionInfo"/>
		<property name="screenFactory" ref="screenFactory"/>
	</bean>
	<bean id="platformResourceManager" class="com.mygdx.manager.PlatformResourceManager"/>
	<bean id="rewardManager" class="com.mygdx.manager.RewardManager">
		<property name="assets" ref="assets"/>
		<property name="rewardInfo" ref="rewardInfo"/>
		<property name="eventManager" ref="eventManager"/>
		<property name="partyInfo" ref="partyInfo"/>
		<property name="screenFactory" ref="screenFactory"/>
	</bean>
	<bean id="saveManager" class="com.mygdx.manager.SaveManager"/>
	<bean id="scenarioManager" class="com.mygdx.manager.ScenarioManager"/>
	<bean id="storySectionManager" class="com.mygdx.manager.StorySectionManager">
		<property name="assets" ref="assets"/>
		<property name="storySectionInfo" ref="storySectionInfo"/>
		<property name="eventManager" ref="eventManager"/>
		<property name="eventQueueManager" ref="eventQueueManager"/>
	</bean>
	<bean id="volumeManager" class="com.mygdx.manager.VolumeManager"/>
	<bean id="worldMapManager" class="com.mygdx.manager.WorldMapManager">
		<property name="movingInfoManager" ref="movingInfoManager"/>
		<property name="positionInfo" ref="positionInfo"/>
		<property name="assets" ref="assets"/>
	</bean>

	
	<bean id="battleScreen" class="com.mygdx.screen.BattleScreen" scope="prototype"/>
	<bean id="bgmScreen" class="com.mygdx.screen.BGMScreen" scope="prototype"/>
	<bean id="bonusPointScreen" class="com.mygdx.screen.BonusPointScreen" scope="prototype"/>
	<bean id="buildingScreen" class="com.mygdx.screen.BuildingScreen" scope="prototype"/>
	<bean id="cgScreen" class="com.mygdx.screen.CGScreen" scope="prototype"/>
	<bean id="collectionScreen" class="com.mygdx.screen.CollectionScreen" scope="prototype"/>
	<bean id="creditScreen" class="com.mygdx.screen.CreditScreen" scope="prototype"/>
	<bean id="dungeonScreen" class="com.mygdx.screen.DungeonScreen" scope="prototype"/>
	<bean id="dungeonEntranceScreen" class="com.mygdx.screen.DungeonEntranceScreen" scope="prototype"/>
	<bean id="encounterScreen" class="com.mygdx.screen.EncounterScreen" scope="prototype"/>
	<bean id="endingScreen" class="com.mygdx.screen.EndingScreen" scope="prototype"/>
	<bean id="eventScreen" class="com.mygdx.screen.EventScreen" scope="prototype">
		<property name="rewardManager" ref="rewardManager"/>
		<property name="eventInfo" ref="eventInfo"></property>
	</bean>
	<bean id="greetingScreen" class="com.mygdx.screen.GreetingScreen" scope="prototype">
		<property name="eventInfo" ref="eventInfo"/>
	</bean>
	<bean id="loadScreen" class="com.mygdx.screen.LoadScreen" scope="prototype">
		<property name="currentState" ref="currentState"/>
		<property name="loadManager" ref="loadManager"/>
		<property name="eventQueueManager" ref="eventQueueManager"/>
	</bean>
	<bean id="menuScreen" class="com.mygdx.screen.MenuScreen" scope="prototype"/>
	<bean id="movingScreen" class="com.mygdx.screen.MovingScreen" scope="prototype">
		<property name="movingInfo" ref="movingInfo"/>
		<property name="movingManager" ref="movingManager"/>
	</bean>
	<bean id="optionScreen" class="com.mygdx.screen.OptionScreen" scope="prototype"/>
	<bean id="rootScreen" class="com.mygdx.screen.RootScreen" scope="prototype">
		<property name="assets" ref="assets"/>
		<property name="screenFactory" ref="screenFactory"/>
		<property name="stageFactory" ref="stageFactory"/>
		<property name="musicManager" ref="musicManager"/>
		<property name="eventManager" ref="eventManager"/>
		<property name="positionInfo" ref="positionInfo"/>
	</bean>
	<bean id="saveScreen" class="com.mygdx.screen.SaveScreen" scope="prototype"/>
	<bean id="statusScreen" class="com.mygdx.screen.StatusScreen" scope="prototype"/>
	<bean id="villageScreen" class="com.mygdx.screen.VillageScreen" scope="prototype"/>
	<bean id="worldMapScreen" class="com.mygdx.screen.WorldMapScreen" scope="prototype"/>

	<bean id="oneLevelStage" class="com.mygdx.stage.OneLevelStage" scope="prototype">
		<property name="assets" ref="assets"/>
		<property name="screenFactory" ref="screenFactory"/>
		<property name="cameraManager" ref="cameraManager"/>
		<property name="partyInfo" ref="partyInfo"/>
	</bean>
	<bean id="overlapStage" class="com.mygdx.stage.OverlapStage" scope="prototype">
		<property name="rm" ref="rm"/>
		<property name="assets" ref="assets"/>
		<property name="screenFactory" ref="screenFactory"/>
		<property name="cameraManager" ref="cameraManager"/>
		<property name="partyInfo" ref="partyInfo"/>
		<property name="positionInfo" ref="positionInfo"/>
	</bean>
	<bean id="battleStage" class="com.mygdx.stage.BattleStage" scope="prototype">
		<property name="movingInfo" ref="movingInfo"/>
	</bean>
	<bean id="buildingStage" class="com.mygdx.stage.BuildingStage" scope="prototype">
		<property name="eventManager" ref="eventManager"/>
	</bean>
	<bean id="characterUiStage" class="com.mygdx.stage.CharacterUiStage" scope="prototype"/>
	<bean id="dungeonStage" class="com.mygdx.stage.DungeonStage" scope="prototype">
		<property name="positionInfo" ref="positionInfo"/>
	</bean>
	<bean id="dungeonEntranceStage" class="com.mygdx.stage.DungeonEntranceStage" scope="prototype"/>
	<bean id="encounterStage" class="com.mygdx.stage.EncounterStage" scope="prototype"/>
	<bean id="eventStage" class="com.mygdx.stage.EventStage" scope="prototype">
		<property name="eventManager" ref="eventManager"/>
		<property name="eventQueueManager" ref="eventQueueManager"/>
		<property name="eventInfo" ref="eventInfo"/>
	</bean>
	<bean id="gameUiStage" class="com.mygdx.stage.GameUiStage" scope="prototype">
		<property name="rewardManager" ref="rewardManager"/>
	</bean>
	<bean id="menuStage" class="com.mygdx.stage.MenuStage" scope="prototype"/>
	<bean id="monsterStage" class="com.mygdx.stage.MonsterStage" scope="prototype">
		<property name="movingInfo" ref="movingInfo"/>
	</bean>
	<bean id="selectEventStage" class="com.mygdx.stage.SelectEventStage" scope="prototype">
		<property name="eventManager" ref="eventManager"/>
		<property name="eventInfo" ref="eventInfo"/>
		<property name="placeManager" ref="placeManager"/>
		<property name="storySectionManager" ref="storySectionManager"/>
	</bean>
	
	<bean id="selectComponentStage" class="com.mygdx.stage.SelectComponentStage" scope="prototype">
		<property name="storySectionInfo" ref="storySectionInfo"/>
		<property name="storySectionManager" ref="storySectionManager"/>
	</bean>
	<bean id="statusStage" class="com.mygdx.stage.StatusStage" scope="prototype"/>
	
	<bean id="villageStage" class="com.mygdx.stage.VillageStage" scope="prototype"/>
	<bean id="worldMapStage" class="com.mygdx.stage.WorldMapStage" scope="prototype">
		<property name="worldMapManager" ref="worldMapManager"/>
	</bean>
</beans>